{% macro render_blog_post(post, from_index=false) %}
    <div class="{% if from_index %} bw ba b--gray shadow-hover  br2 mv3 pa2 {% endif %}">  
    {% if from_index %}
        <span class="f3">
          <a href="{{ post|url }}" class="link black">
            {{ post.title }}
          </a>
        </span>
    {% else %}
      <h1 class="f2 tc">{{ post.title }}</h1>
    {% endif %}

    <p class="meta">
      By
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle}}">{{ post.author or post.twitter_handle }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date }}
    </p>
    {% if not from_index %} 
      {{ post.body }}
    {% endif %}  
  </div>
{% endmacro %}
